html {
    background-color: #ADADAD;
}
.logo{
    text-align: center;
}
button{
    background-color: black;
    color: white;
    border-radius: 27px;
    width: 357px;
    height: 54px;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
